 h2 {
     padding: 10px;
     padding-top: 0px;
     border-style: solid;
     border-color: #ddd;
     font-weight: bold;
     border-width: 0px 0px 0px 0px;
     font-size: 22px;
     margin: 0px;
     margin-top: 5px;
 }
 
 h3 {
     padding: 10px;
     padding-top: 0px;
     border-style: solid;
     border-color: #ddd;
     font-weight: bold;
     border-width: 0px 0px 1px 0px;
     font-size: 12px;
     margin: 0px;
     margin-top: 5px;
 }
 
 #title {
     height: 43px;
     background-color: #fff;
     border: solid 1px #aaa;
     float: left;
     font-size: 30px;
     line-height: 42px;
     font-weight: 300;
     margin-left: 10px;
     padding-left: 10px;
     padding-right: 10px;
     vertical-align: top;
     width: auto;
     bottom: 0px;
 }
 
 #menu-left {
     margin-left: 2.5%;
     float: left;
     display: inline-block;
     margin-top: 7px;
     z-index: 5;
 }
 
 #menu-right {
     float: right;
     display: inline-block;
     margin-top: 7px;
     margin-left: 20px;
     margin-right: 2.5%;
     z-index: 5;
 }
 
 body {
     margin: 0px;
     background-color: #eee;
     -webkit-user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -ms-user-select: none;
 }
 
 #c {
     margin: auto;
     margin-top: 5px;
     left: 0;
     bottom: 0;
     right: 0;
     overflow: hidden;
     box-shadow: 0px 2px 10px #aaa;
     background-color: #fff;
     cursor: crosshair;
     margin-left: 2.5%;
     width: 95%;
 }
 
 form ul li {
     height: 28px;
     line-height: 20px;
     padding: 0px;
     margin: 0px;
     list-style: none;
 }
 
 form ul {
     padding: 0px;
     padding-left: 10px;
     padding-top: 5px;
     margin: 0px auto;
     text-align: right;
 }
 
 #sidebar {
     display: block;
     width: 160px;
     background-color: #fff;
     height: 100%;
     position: fixed;
     left: 0px;
     border-style: solid;
     border-color: #aaa;
     border-width: 0px;
     border-right-width: 1px;
     z-index: 6;
     font-size: 17px;
 }
 /*
 #sidebar ul li a {
     display: block;
     list-style: none;
     border-style: solid;
     border-color: #ddd;
     border-width: 0px 0px 1px 0px;
     padding: 10px;
 }
 */
 
 #sidebar ul li.link a:hover {
     background-color: #f5f5f5;
     text-decoration: underline;
 }
 
 #sidebar ul li.link a {
     display: block;
     list-style: none;
     border-style: solid;
     border-color: #ddd;
     border-width: 0px 0px 1px 0px;
     padding: 10px;
 }
 
 #sidebar ul li.active a {
     cursor: default;
     text-decoration: none;
     display: block;
     list-style: none;
     border-style: solid;
     border-color: #ddd;
     color: #444;
     border-width: 0px 0px 1px 0px;
     padding: 10px;
 }
 
 #back2 {
     float: left;
 }
 
 #sidebar ul {
     margin-left: -40px;
 }
 
 #article {
     position: absolute;
     width: auto;
     top: 0px;
     bottom: 0px;
     left: 150px;
     right: 0px;
 }
 /* styles for form*/
 
 .c {
     border-style: solid;
     border-width: 1px;
     border-color: #aaa;
     box-shadow: 0px 0px 5px #bbb;
     width: 33px;
     padding: 0px;
     padding-left: 2px;
 }
 
 #col1 {
     float: right;
     width: auto;
 }
 
 .form {
     width: 250px;
     padding: 20px;
     padding-top: 10px;
 }
 
 #col2 {
     float: right;
     width: auto;
     padding-left: 10px;
 }
 
 .clear {
     clear: both;
     display: block;
 }
 
 h2 {
     font-size: 20px;
     margin-bottom: 0px;
 }
 
 hr {
     border-style: solid;
     border-width: 0px;
     border-top-width: 1px;
     border-color: #ddd;
     padding: 0px;
     margin: 0px;
 }
 
 form ul li {
     height: 28px;
     line-height: 20px;
     padding: 0px;
     margin: 0px;
     list-style: none;
 }
 
 form ul {
     padding: 0px;
     padding-left: 10px;
     padding-top: 5px;
     margin: 0px auto;
     text-align: right;
 }
 
 p.disclaimer {
     padding-top: 15px;
     max-width: 250px;
     text-align: justify;
     color: #444;
     font-size: 12px;
     line-height: 16px;
 }
 
 .btn {
     outline: 0 !important;
 }